<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin-assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="index.html"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html" class="active">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i
                            class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/admin-assets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>

                    </div>
                </div>
            </div>
            <form action="" method="post" id="form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>1. General info</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Product title</label>
                                            <input type="text" name="name" id="name" value="<%=products.name%>"
                                                placeholder="Type here" class="form-control">
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">Description</label>
                                            <textarea name="description" id="description" placeholder="Type here"
                                                class="form-control" rows="4"><%=products.description%></textarea>
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Regular Price</label>
                                            <input type="text" id="regularPrice" name="regularPrice"
                                                value="<%=products.regularPrice%>" placeholder="₹00.00"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Sale Price</label>
                                            <input type="text" id="salesPrice" name="salesPrice" placeholder="₹00.00"
                                                value="<%=products.salesPrice%>" class="form-control">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <input type="hidden" name="id" value="<%= products._id %>">

                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>3. Category</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <% for (let i=0; i < categories.length; i++) { %>
                                                <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                                    <input class="form-check-input" name="mycategory" type="radio"
                                                        value="<%= categories[i]._id %>">
                                                    <span class="form-check-label">
                                                        <%= categories[i].name %>
                                                    </span>
                                                </label>
                                                <% } %>
                                        </div>

                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                                <hr class="mb-4 mt-0">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>4. Media</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Images</label>
                                            <input class="form-control" name="images" value="<%=products.images%>"
                                                id="images" type="file" multiple accept="image/*">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- .row end// -->

                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>5. Stock</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label class="form-label">Stock</label>
                                            <input class="form-control" name="totalStock"
                                                value="<%=products.totalStock%>" id="totalStock" type="number">
                                        </div>
                                    </div> <!-- col.// -->
                                </div> <!-- .row end// -->
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6>6. Size and Quantity</h6>
                                    </div>
                                    <div class="col-md-9">
                                        <% if (products.sizes && products.sizes.length> 0) { %>
                                            <% for (let i=0; i < products.sizes.length; i++) { %>
                                                <div class="mb-4">
                                                    <label class="form-label">Sizes</label>
                                                    <div id="sizeInputs">
                                                        <div class="size-input">
                                                            <input type="text" name="sizes[0][size]"
                                                                placeholder="Size" class="form-control">
                                                            <span class="error-message" id="sizeError0"></span>
                                                        </div>
                                                    </div>
                                                    <button type="button" onclick="addSizeInput()">Add Size</button>
                                                   
                                </div>
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label">Quantity</label>
                                                    <input type="number" name="sizes[<%= i %>][quantity]"
                                                        value="<%=products.sizes[i].quantity%>" placeholder="Quantity"
                                                        class="form-control">
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <!-- Default size input -->
                                                        <div class="mb-4">
                                                            <label class="form-label">Sizes</label>
                                                            <div id="sizeInputs">
                                                                <div class="size-input">
                                                                    <input type="text" name="sizes[0][size]"
                                                                        placeholder="Size" class="form-control">
                                                                    <span class="error-message" id="sizeError0"></span>
                                                                </div>
                                                            </div>
                                                            <button type="button" onclick="addSizeInput()">Add
                                                                Size</button>

                                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Quantity</label>
                                        <input type="number" name="sizes[0][quantity]" placeholder="Quantity"
                                            class="form-control">
                                    </div>
                                    <% } %>
                                </div>

                            </div>
                            <div>
                                <input type="submit" name="submit" id="submit">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-4">
                        <h6>5. Images Preview</h6>
                        <div id="image-preview-container" class="d-flex flex-wrap"></div>
                    </div>
                </div>
                </div>
            </form>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script>
        let sizeCounter = 1;

        function addSizeInput() {
            const sizeInputs = document.getElementById('sizeInputs');
            const newInput = document.createElement('div');
            newInput.className = 'size-input';
            newInput.innerHTML = `
                <input type="text" name="sizes[${sizeCounter}][size]" placeholder="Size" class="form-control">
                <span class="error-message" id="sizeError${sizeCounter}"></span>
            `;
            sizeInputs.appendChild(newInput);
            sizeCounter++;
        }
    </script>
    <script>
        const imgPreview = document.getElementById('image-preview-container');
        const inputField = document.getElementById('images');

        inputField.addEventListener('change', function (event) {
            const files = event.target.files;
            imgPreview.innerHTML = ''; // Clear the previous preview images

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '100px'; // Set max width for the preview image

                    const deleteBtn = document.createElement('button');
                    deleteBtn.innerText = 'X';
                    deleteBtn.style.borderRadius = '100%'; // Makes the button round
                    deleteBtn.style.backgroundColor = 'red'; // Sets the background color to red
                    deleteBtn.style.color = 'white'; // Sets the text color to white
                    deleteBtn.style.border = 'none'; // Removes the button border
                    deleteBtn.style.padding = '5px 10px'; // Adjusts padding for better appearance
                    deleteBtn.addEventListener('click', function () {
                        img.parentNode.removeChild(img); // Remove the image element
                        deleteBtn.parentNode.removeChild(deleteBtn);
                        removeAndReconstructInput(file); // Remove the file and reconstruct the input field
                    });

                    const container = document.createElement('div');
                    container.appendChild(img);
                    container.appendChild(deleteBtn);
                    imgPreview.appendChild(container); // Append the new image preview with delete button
                };

                reader.readAsDataURL(file);
            }
        });

        function removeAndReconstructInput(fileToRemove) {
            const index = Array.from(inputField.files).findIndex(file => file === fileToRemove);
            if (index !== -1) {
                removeFileFromFileList(index); // Call the removeFileFromFileList function passing the index
            }
        }

        function removeFileFromFileList(index) {
            const dt = new DataTransfer();
            const files = inputField.files;

            for (let i = 0; i < files.length; i++) {
                if (index !== i) {
                    const file = files[i];
                    dt.items.add(file); // Exclude the file based on the provided index
                }
            }

            inputField.files = dt.files; // Assign the updated file list to the input field
        }
    </script>

    <script>
        function validateRegularPrice() {
            const salesPrice = parseFloat(document.getElementById('salesPrice').value);
            const regularPrice = parseFloat(document.getElementById('regularPrice').value);

            if (isNaN(regularPrice) || regularPrice <= 0) {
                alert('Regular price must be a valid positive number.');
                document.getElementById('regularPrice').value = '';
            } else if (regularPrice >= salesPrice) {
                alert('Sales Price must be higher than regular price.')
                document.getElementById('regularPrice').value = '';
            }
        }

        document.getElementById('salesPrice').onblur = function () {
            validatesalesPrice();
        };

        function validatesalesPrice() {
            const regularPrice = parseFloat(document.getElementById('regularPrice').value);
            const salesPrice = parseFloat(document.getElementById('salesPrice').value);

            if (isNaN(salesPrice) || salesPrice <= 0) {
                alert('Regular price must be a valid positive number.');
                document.getElementById('salesPrice').value = '';
            } else if (regularPrice >= salesPrice) {
                alert('Sales Price must be higher than regular Price.');
                document.getElementById('salesPrice').value = '';
            }
        }
    </script>





</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html>