<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
<head>
    <meta charset="utf-8">
    <title>CLOTHING CUE</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-2 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+91) - 9747 - 055702</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="/contact">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 10% off <a href="/contact">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy Shoes, save up 20% off today <a href="/shop">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                           
                            <ul>
                                <%if(user){%>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i>Account<i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="/logout">logout</a></li>
                                        <li><a href="/account">Account</a></li>
                                        <li><a href="#"></a></li>
                                    </ul>
                                </li>
                                <%}else{%>
                                <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                <li><i class="fi-rs-user"></i><a href="/register">Sign Up</a></li>
                                <%}%>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo me-3">
                        <a href="/home">
                            <img src="assets/imgs/theme/favicon.png" alt="logo" style="width: 80px; height: auto;">
                        </a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/" method="post">
                                <select name="cat" class="select-active">
                                <%for(let i=0;i<category.length;i++){%>
                                    <%if(category[i].status){%>
                                    <option><%=category[i].name%></option>  
                                    <%}%>
                                <%}%>
                               </select>
                                <input type="text" name="search" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                                       
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                       
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                               
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/useraccount">Account</a>
                                
                            </li>
                            
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">More</a>
                                <ul class="dropdown">
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/useraccount">My Account</a></li>
                                    <li><a href="/register">login/register</a></li>
                                    <li><a href="/purchaseguide">Purchase Guide</a></li>
                                    <li><a href="/policy">Privacy Policy</a></li>
                                    <li><a href="/terms">Terms of Service</a></li>
                                    
                                </ul>
                            </li>
                           
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="/contact"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/register">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+91) -9747- 055702 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main-wrap">
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Wallet history</h2>
            </div>
            <div class="card" id="PDF">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <header class="border-bottom mb-4 pb-4">
                                <div class="row">


                                   
                            </header>


                            <!-- card-header end// -->
                            <div class="table-responsive">
                                <table>
                                    <thead>
                                      <tr>
                                        <th>Transaction type</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th class="text-end print-hidden">Balance</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <% if (wallet && wallet.transactions && wallet.transactions.length > 0) { %>
                                          <% wallet.transactions.forEach(transaction => { %>
                                            <tr>
                                              <td><%= transaction.type %></td>
                                              <td><%= transaction.amount %></td>
                                              <td><%= transaction.description %></td>
                                              <td><%= transaction.date.toISOString().split('T')[0] %></td>
                                              <td class="text-end print-hidden">
                                                <%= calculateBalance(transaction) %>
                                              </td>
                                            </tr>
                                          <% }); %>
                                        <% } else { %>
                                          <tr>
                                            <td colspan="5" class="text-center">No transactions available</td>
                                          </tr>
                                        <% } %>
                                      </tbody>
                                      
                                      
                                  </table>
                            </div> <!-- table-responsive.// -->
                        </div> <!-- col end// -->
                                           </div> <!-- row end// -->
                </div> <!-- card-body // -->
            </div> <!-- card end// -->

        </section>
    </main>
  

    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>



</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-transactions-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:33 GMT -->

</html>
